---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="PyCon 2026" 
  description="PyCon conference 2026"
>
	<main class="container mx-auto px-4 py-10">
		<h1 class="text-5xl font-bold text-center mb-6">
		PyConf 2026
		</h1>
		<p class="text-center text-slate-300 text-xl">
			made with Astro 🚀
		</p>
	</main>
</Layout>
