---
import Layout from '../layouts/Layout.astro'
---

<Layout title="PyCon 2026" description="PyCon conference 2026">
  <main class="container mx-auto px-4 py-10 flex flex-col items-center gap-6">
    <h1 class="text-5xl font-bold">PyConES 2026</h1>
    <h2 class="text-5xl font-bold">Barcelona</h2>
    <p class="text-slate-300 text-xl">6, 7 y 8 de Noviembre</p>
  </main>
</Layout>

<script>
  import { createSpring, createTimeline, stagger, createScope, text, animate } from 'animejs'

  createScope({
    root: 'main',
    defaults: {
      ease: 'outQuad',
    },
  }).add((scope) => {
    const { root, methods } = scope

    text.split('h1', {
      chars: {
        class: 'char',
        clone: 'top',
        wrap: 'clip',
      },
    })

    const ease = createSpring({ stiffness: 70, damping: 11 })

    scope.add('onEnter', () => {
      createTimeline().add(
        '.char > span',
        {
          y: '100%',
          composition: 'blend',
          ease,
        },
        stagger(10, { use: 'data-char', from: 'random' }),
      )
    })

    scope.add('onLeave', () => {
      createTimeline().add(
        '.char > span',
        {
          y: '0%',
          composition: 'blend',
          ease,
        },
        stagger(10, { use: 'data-char', from: 'random' }),
      )
    })

    root.addEventListener('pointerenter', methods.onEnter)
    root.addEventListener('pointerleave', methods.onLeave)
  })
</script>
