---
import { texts } from '../../i18n/home'
import SectionTitle from '../SectionTitle.astro'
import TextBox from '../TextBox.astro'

interface Props {
  lang: string
}

const { lang } = Astro.props
const t = texts[lang as keyof typeof texts]
---

<div class="flex flex-col items-center gap-4">
  <SectionTitle title={t['sponsors.title']} />
  <TextBox text={t['sponsors.description']} />
</div>
