---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="flex-1 flex items-center justify-center bg-black/15 p-4 md:p-8">
  <p class="text-center md:text-xl">
    {text}
  </p>
</div>
