---
import Layout from '../layouts/Layout.astro'
import SectionMain from './home/SectionMain.astro'
import SectionSponsors from './home/SectionSponsors.astro'

interface Props {
  lang: string
}

const { lang } = Astro.props
---

<Layout title="PyConES 2026">
  <div class="flex flex-col gap-20">
    <SectionMain lang={lang} />
    <SectionSponsors lang={lang} />
  </div>
</Layout>
