---
import Layout from '@/layouts/Layout.astro'
import SectionMain from './home/SectionMain.astro'
import SectionSponsors from './home/SectionSponsors.astro'
import { texts } from '@/i18n/home'

interface Props {
  lang: string | any
}

const { lang } = Astro.props
const t = texts[lang as keyof typeof texts] || texts.es
---

<Layout title="PyConES 2026" description={t['index.message']}>
  <div class="flex flex-col gap-20">
    <SectionMain lang={lang} />
    <SectionSponsors lang={lang} />
  </div>
</Layout>
