---
import { i18n } from 'astro:config/client'
import { texts } from '../i18n/components/LanguagePicker'

// Idiomas disponibles
const languages = i18n.locales as string[]

interface Props {
  lang: string
}

const { lang = i18n.defaultLocale } = Astro.params
const t = texts[lang as keyof typeof texts]

// Idioma actual detectado desde la URL
const pathname = Astro.url.pathname
const currentLang = pathname.split('/')[1] || i18n.defaultLocale

// Función para construir la URL destino
const getPathForLang = (lang) => {
  const parts = pathname.split('/').filter(Boolean)

  // Si ya hay idioma, lo reemplaza
  if (languages.some((l) => l === parts[0])) {
    parts[0] = lang
  } else {
    parts.unshift(lang)
  }

  return '/' + parts.join('/')
}
---

<ul aria-label={t['alttext']} class="flex gap-6 p-2 pr-6 justify-end text-green-400 font-mono">
  {
    languages.map((lang) => (
      <li>
        <a
          href={getPathForLang(lang)}
          hreflang={lang}
          aria-current={lang === currentLang ? 'page' : undefined}
          aria-label={t['labelariadesc'][lang]}
          lang={lang}
          class={lang === currentLang ? 'font-bold underline underline-offset-4' : ''}
        >
          {t['label'][lang]}
        </a>
      </li>
    ))
  }
</ul>
