---
import Layout from '../../layouts/Layout.astro'
import LocationPage from '../../components/LocationPage.astro'

export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }, { params: { lang: 'ca' } }]
}

const { lang } = Astro.params

const titles = {
  es: 'Localización | PyConES 2026',
  en: 'Location | PyConES 2026',
  ca: 'Localització | PyConES 2026',
}

const title = titles[(lang || 'es') as keyof typeof titles]
---

<Layout title={title}>
  <div class="grow w-full pt-24">
    <div class="container mx-auto px-4 md:px-8">
      <LocationPage lang={lang || 'es'} />
    </div>
  </div>
</Layout>
