---
import Layout from '../../layouts/Layout.astro'
import ProgramaPage from '../../components/ProgramaPage.astro'
import { programaTexts } from '../../i18n/programa'

export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }, { params: { lang: 'ca' } }]
}

const { lang } = Astro.params
const t = programaTexts[(lang || 'es') as keyof typeof programaTexts]
---

<Layout title={t.title} description={t.seoDescription} fullWidth>
  <div class="grow w-full md:mt-24 mt-12">
    <ProgramaPage lang={lang || 'es'} />
  </div>
  <script is:inline src="https://pretalx.com/pycones-2026/widgets/schedule.js"></script>
</Layout>
