---
import '../style/global.css'
import '@fontsource-variable/jetbrains-mono'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  description?: string // Optional (?)
}

const { title, description = 'PyconES 2026' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <ClientRouter />
  </head>

  <body
    class="bg-slate-900 text-white antialiased h-screen flex flex-col justify-center bg-linear-to-r from-gray to-blue-900 bg-radial"
  >
    <slot />
  </body>
</html>

<style is:global>
  /* Global CSS styles (Vanilla CSS) */

  :root {
    /* If you want to define native CSS variables */
    --accent: 136, 58, 234;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth; /* Smooth scroll when navigating by anchors (#) */
  }

  /* Scrollbar customization (optional, Midudev style) */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #0f172a;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
</style>
