---
import LanguagePicker from '../components/LanguagePicker.astro'
import '../style/global.css'
import '@fontsource-variable/jetbrains-mono'
import '@fontsource-variable/outfit'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  description?: string // Optional (?)
}
const { lang } = Astro.params || { lang: 'es' }
const { title, description = 'PyconES 2026' } = Astro.props
---

<!doctype html>
<html lang={lang as string}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <ClientRouter />
  </head>

  <body class="bg-pycon-black font-outfit text-pycon-white antialiased h-screen relative">
    <div
      class="fixed inset-0 bg-[url('/images/symbol-black-dark.svg')] bg-size-[80vh] bg-position-[140%_120%] bg-no-repeat opacity-30 pointer-events-none blur-xs"
    >
    </div>
    <nav class="relative z-10">
      <LanguagePicker lang={lang} />
    </nav>

    <main class="relative z-10 flex flex-col justify-center text-white">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  /* Global CSS styles (Vanilla CSS) */

  html {
    font-family: 'Outfit Variable', sans-serif;
    scroll-behavior: smooth; /* Smooth scroll when navigating by anchors (#) */
  }

  /* Scrollbar customization (optional, Midudev style) */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #1d1d1b;
  }
  ::-webkit-scrollbar-thumb {
    background: #555554;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #8e8e8d;
  }
</style>
